*{
    margin: auto;
    background-color:  #CECFC9;;
}

body{
    background-color: white;
}

main h1{
    text-align: center;
    margin-top: 20%;
    color: #0a3143;
    font-size: 50px;
}

main p{
    text-align: center;
    color: black;
    font-size: 25px;
}

footer{
    margin-bottom: 0%;
}
