*{
    margin: 0%;
    overflow-x: hidden;
    font-family:'Times New Roman', Times, serif;
}

/*Todo que este dentro del html*/
html{
    background-color: #CECFC9;
    height: 100%;
}

body{
    height: 100%;
}

#title_body_1{
    background-color: #0a3143;
    color: white;
    height: 100%;
    padding: 20px;
    top: -10px;
    text-align: left;
}

#img_subtitle{
    height: 100%;
    width: 106%;
}

#subtitle_body_1{
    background-color: #276E90;
    color: white;
    height: 100%;
    padding: 10px;
    top: -10px;
}

.p_body_1{
    left: auto;
    color: black;
    text-align: center;
    font-size: 25px;
}

/*SLIDER*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 0px;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    right: auto;
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}

.slide-text{
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 80%;
    left: 2%;
}  

.slide-nav{
    color: white;
}

#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
        -1px 0px 2px rgba(255, 255, 255, 0);
}



/*PIE DE PAGINA*/
.PiePagina{
    display: flex;
    background-color: #276E90;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.PiePagina p{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.Contacto{
list-style: none;
}

.Columna{
    width: 25%;
}

/*MENU DE NAVEGACION*/
#menu{
    background-color: #276E90;
}

#menu ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu ul li.linea{
    display: inline-block;
}

#menu ul li.linea a{
    color: white;
    display: block;
    padding: 10px 85px;
    text-decoration: none;
}

#menu ul li.linea a:hover{
    background-color: #0A3143;
}

#menu ul li.despegable a{
    display: block;
    padding: 10px 91.5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.dropdowngtx{
    background-color: #276E90;
    position: absolute;
    z-index: 999;
    display: none;
}

.dropdowngtx li{
    display: block;
}

.dropdowngtx li a:hover{
    background: #2e3d43;
}

#menu ul li:hover .dropdowngtx{
    display: block;
}

/*****FORMULARIO**************/
.form_1_subtitle h2
{
    background-color: #276E90;
    color: white;
    height: 100%;
    padding: 15px;
    top: -10px;
    text-align: center;
}

/* Estilos generales del formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 500px;
    border: 2px solid #006699;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 20px;
}

  /* Estilos del título del formulario */


  /* Estilos de los campos del formulario */
form label {
    font-size: 18px;
    margin-bottom: 5px;
    color: #006699;
    padding: 8px;
    height: auto;
    width: auto;
    font-weight: bold;
}

form select,
form input[type="date"],
form input[type="text"]
{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color:  grey;
}

form button
{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #006699;
    color: white;
}


/* Estilos específicos para cada campo */
.form_container input[type="select"] {
    background-color: #fff;
    color: #006699;
}

.form_container input[type="date"] {
    background-color: #fff;
    color: #006699;
}

.form_container input[type="text"]{
    height: 100px;
    background-color: #fff;
    color: #006699;
}

  /* Estilos para los mensajes de error */
.form_container span.error {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
}

#p_form{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #006699;
}
