<!DOCTYPE html>
<html lang="es">
    <header>
        <link rel="stylesheet" href="../ESTILOS/EstiloInstalaciones.css">
        <link rel="stylesheet" href="../ESTILOS/EstiloGeneral.css">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <title>KMBsports.com</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    </header>

    <body class="Cuerpo">
        <div id="menu">
            <ul>
                <li class="linea"><a href="../HTML/Indice.html">Inicio</a></li>
                <li class="linea"><a href="">Eventos</a></li>
                <li class="linea"><a href="">Acceso</a></li>
                <li class="linea">
                    <a href="../HTML/Instalaciones.html">Instalaciones</a>
                    <ul class="dropdowngtx">
                        <li class="despegable"><a href="">Baloncesto</a></li>
                        <li class="despegable"><a href="">Fútbol Sala</a></li>
                        <li class="despegable"><a href="">Fútbol 7</a></li>
                        <li class="despegable"><a href="">Fútbol 11</a></li>
                        <li class="despegable"><a href="">Pádel</a></li>
                        <li class="despegable"><a href="">Tenis</a></li>

                    </ul>
                </li>
            </ul>
        </div>
        
        <div class="Objetos">
            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/balon.jpg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Baloncesto</h5>
                    <p class="card-text">Pistas de Baloncesto al aire libre iluminadas y en Pabellón.</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/futsal.jpg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Fútbol Sala</h5>
                    <p class="card-text">Pistas de Futsal al aire libre iluminadas y en Pabellón.</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/fut7.jpg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Fútbol 7</h5>
                    <p class="card-text">Campos de cesped artificial al aire libre iluminados.</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/fut11.jpg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Fútbol 11</h5>
                    <p class="card-text">Campos de cesped artificial al aire libre iluminados.</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/pad.jpg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Pádel</h5>
                    <p class="card-text">Pistas de pádel al aire libre iluminadas.</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/ten.jpg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Tenis</h5>
                    <p class="card-text">Pistas de tenis al aire libre iluminadas.</p>
                    <a href="#" class="btn btn-primary boton">Reservar</a>
                    </div>
                </div>
            </div>

            <div class="p-3 m-0 border-0 bd-example">
                <div class="card" style="width: 18rem;">
                    <img src="../IMAGENES/vol.jpeg" class="card-img-top" alt="Imagen" >
                    <div class="card-body">
                    <h5 class="card-title">Voleibol</h5>
                    <p class="card-text">Pistas de Voleibol al aire libre iluminadas y en Pabellón.</p>
                    <a href="#" class="btn btn-primary boton">Reservar</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer class="PiePagina">
            <div class="Columna">
                <a href="https://www.uca.es/" title="Logo Escuela Superior Ingenieria">
                    <img src="../IMAGENES/LogoUCA.png" alt="Logo Escuela Superior Ingenieria" class="UCA" >
                </a>
            </div>
            
            <div class="Columna">
                <p class="Parrafos">KMB Sports</p>
            </div>
            <div class="Columna">
                <ul class="Contacto">
                    <li><p class="Parrafos">Email: kmbsports@hotmail.com</p></li>
                    <li><p class="Parrafos">Telefono: 897430635</p></li>
                </ul>
            </div>
    </footer>   
</html>