<!DOCTYPE html>
<html>
    <head> 
        <title> Inicio sesi&oacuten de usuario</title> 
        <link rel="stylesheet" href="EstiloLogin.CSS">
        <link rel="icon" href="../img/iconoPagina.ico" >
    </head>
    <body>
        <header>
            <h1 id="title">Inicio sesi&oacuten</h1>
        </header>
        <nav>
            <div id="menu">
                <ul>
                    <li class="linea"><a href="Login.html">Acceso</a></li>
                    <li class="linea">
                        <a href="Instalaciones.html">Instalaciones</a>
                        <ul class="dropdowngtx">
                            <li class="despegable"><a href="">Baloncesto</a></li>
                            <li class="despegable"><a href="">F&uacutetbol Sala</a></li>
                            <li class="despegable"><a href="">F&uacutetbol 7</a></li>
                            <li class="despegable"><a href="">F&uacutetbol 11</a></li>
                            <li class="despegable"><a href="">P&aacutedel</a></li>
                            <li class="despegable"><a href="">Tenis</a></li>
                        </ul>
                    </li>
                    <li class="linea"><a href="Evento.html">Eventos</a></li>
                    <li class="linea"><a href="Indice.php">Sobre Nosotros</a></li>
                </ul>
            </div>
    </nav>
        <main>
            <form method="post" action="../../Back/log.php">
                <h3>Inicia sesi&oacuten</h3>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
                <br>

                <label for="contrasena">Contrase&ntildea:</label>
                <input type="password" name="contrasena" id="contrasena" required>
                <br>

                <a href="Registro.html">
                    <p>
                        ¿No est&aacutes registrado?
                    </p>
                </a>
                <input type="submit" value="Enviar">
            </form>
        </main>
    </body>
</html>
