<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pagina de Error</title>
    </head>
    <body>
        <body>
            <h2>
                Whoops; Parece que ha habido un error
            </h2>
            <p>
                El error ha podido producirse por:
                <ul>
                    <li>Ha tratado de inicar sesión sin estar registrado?.<br>
                        En ese caso prueba a 
                        <a href="../views/Registro.html">
                            registrarte
                        </a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </p>
        </body>
    </body>
</html>