<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pagina de Error</title>
        <link rel="stylesheet" href="EstiloPagina.CSS">
        <link rel="icon" href="../img/iconoPagina.ico" >
    </head>
    <body>
        <main>
            <h1>
                Whoops... Parece que ha habido un error
            </h1>

            <p>
                <strong>¿Has tratado de inicar sesión sin estar registrado?</strong> En ese caso prueba a <a href="../views/Registro.html">registrarte</a><br>
                Si tienes otro problema ponte en contacto con nosotros: <strong>kmb@gmail.com</strong><br>
                Tambien puede que hayas introducido mal algún campo, te recuerdo que telefono debe tener 9 números, la contraseña tiene que tener mas de 8 caracteres<br>
            </p>
        </main>
    </body>

</html>