<!DOCTYPE html>
<html lang="es">
    <Head>
        <title> Registro de Evento </title>
        <meta charset="utf-8">
        <link rel="icon" href="/img/iconoo.png">
        <link rel="stylesheet" href="registroEventoCSS.css"
    </Head>
    <body>
        <!-- Vista Encargada de registrar Evento--->
        <header>
            <h1>¡Bienvenido a la sección de reserva de pistas deportivas de KMB!</h1>
        </header>
        <main>
            <article>
                <!-- Articulo que se encarga de mostrar la información necesaria al Usuario para registrar el Evento-->
                <section>
                    <!-- Conjunto de parrafos de Bienvenida a la pagina de registrar Eventos-->
                    <p>
                    Aquí podrás reservar fácilmente la pista que necesitas para organizar cualquier tipo de evento deportivo, 
                    ya sea para jugar con amigos o para competir en un torneo. 
                    </p>

                    <p>
                    En esta página encontrarás información detallada sobre cada una de las pistas disponibles, así como fotos y reseñas de otros usuarios 
                    que han utilizado nuestras instalaciones anteriormente. 
                    </p>

                    <p>
                    Todo lo que tienes que hacer es seleccionar el deporte que deseas practicar, la fecha y hora que te convengan, y realizar el pago en línea de manera segura y fácil. 
                    </p>

                    <p>
                    En KMB nos aseguramos de que todas nuestras pistas estén en excelentes condiciones para su uso, para que puedas disfrutar de una experiencia de juego 
                    de alta calidad. 
                    </p>    

                    <p>
                    Si necesitas ayuda para organizar un evento deportivo más grande, nuestro equipo de expertos estará encantado de ayudarte a coordinar todos los detalles necesarios. 
                    </p>

                    <p>
                    Así que no esperes más y reserva tu pista deportiva en KMB hoy mismo.
                    </p>   
                </section>

                <section>
                    <!-- Eventos predeterminados -->
                    <h2>Eventos disponibles:</h2>
                    <nav>
                        <ul>
                            <li><p><a href="#evento_cumpleannos" title="Cumpleaños"> Cumpleaños</a></p></li>
                            <li><p><a href="#evento_torneo" title="Torneo">Torneo</a></p></li>
                            <li><p><a href="#evento_personalizado" title="Personalizado"> Crea tu propio evento!</a></li></p>
                        </ul>
                    </nav>
                </section>

                <section>
                    <div class="evento_completo">
                        <!-- Evento: Cumpleaños -->
                        <h3 id="evento_cumpleannos" class="titulo_evento">Cumpleaños</h3>
                        <!--Descripcion del tipo de evento-->
                        <h4>¡Celebra tu cumpleaños de una manera diferente y emocionante en nuestro complejo deportivo!</h4> 
                        <p>
                        </p>
                    </div>
                </section>    

                <section>
                    <div class="evento_completo">
                        <!-- Evento: Torneo -->
                        <h3 id="evento_torneo" class="titulo_evento">Torneo</h3>
                        <!--Descripcion del tipo de evento-->
                        <h4>¡Demuestra tu talento en nuestro campo de juego y conviértete en el campeón del complejo deportivo!</h4>
                        <p>

                        </p>
                    </div>
                </section>    

                <section>
                    <!-- Evento: Personalizado-->
                    <h3 id="evento_personalizado" class="titulo_evento">Crea tu propio Evento</h3>
                    <!--Descripcion del tipo de evento-->
                    <h4>¡Crea el evento deportivo de tus sueños con nosotros y haz que sea una experiencia única e inolvidable!</h4>
                </section>
            </article>   

            <section>
                <!-- Sección para llamar al codigoPHP para registrar el evento en la BD-->
                <form method="post" action="..\..\Back\regEvento.php">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" name="descripcion" id="descripcion" required>
                    <br>
                        <label for="fecha">Fecha</label>
                        <input type="datetime-local" name="fecha" id="fecha" required>
                    <br>
                        <!-- La vista mostrara la consulta de todos los campos y se seleccionara el indicado con checkbox-->
                        <!-- <input type="checkbox" name="codPista" id="codPista" value="codPista de la pista" required>-->
                    <input type="submit" values="enviar">
                </form>
            </section>
        </main>
        <footer>
        </footer>    
    </body>
</html>